<h1>This Is the Home Page Test</h1>
<p>The mysterious diary records the voice.
  The lake is a long way from here.
  She advised him to come back at once. 
  The memory we used to share is no longer coherent.
  Wednesday is hump day, but has anyone asked the camel if he’s happy about it?
  Where do random thoughts come from?
  Tom got a small piece of pie. He told us a very exciting adventure story.
  I'd rather be a bird than a fish.
  Is it free?
  She did not cheat on the test, for it was not the right thing to do.</p>