<header>
    <nav class="nav-bar contain-padding">
      <img [routerLink]="['/']" class="logo-img logo-black" src="/assets/logo-no-text.png" alt="Morel Tax Logo">
      <img [routerLink]="['/']" class="logo-img logo-white" src="/assets/logo-no-text-white.png" alt="Morel Tax Logo">
      <div class="nav-links">
      <div class="nav-links"-white>
          <a [routerLink]="['/']"> Home </a>
          <a [routerLink]="['/services']"> Services </a>
          <a [routerLink]="['/about-us']"> About Us </a>
          <a [routerLink]="['/contact']"> Contact </a>
        </div>
    </nav>
</header>

<div class="contain-page">
<router-outlet></router-outlet>
</div>

<footer>
  <div class="footer">
      <li class="brand-footer">Morel Tax</li>
      <li>Phone & Fax: (954)745-0750</li>
      <li><a>Email: carlos@moreltax.com</a></li>
      <li>1560 Sawgrass Corporate Parkway</li>
      <li>Suite 416, Sunrise FL, 33323</li>
  </div>
</footer>